<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Geo-Saúde</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'normalize.css' %}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'base.css' %}"/>
    {% block head %}
    
    {% endblock head %}
</head>
<body>
    <div class="header">
        <div class="adm-perfil">
            <img class="adm-avatar" src="{% static 'adm_avatar.png' %}">
            <ul>
                <li><p class="adm-name">José Luis</p></li>
                <li><p class="adm-job">Administrador</p></li>
            </ul>            
        </div>
        <div class="logo-bar">
            <img class="logo-image" src="{% static 'logo_horizon.png' %}">
        </div>
    </div>

    <div class="content">
        <div class="side-bar">
            <div class="menu-label">
                <p>Opções do Menu</p>
            </div>
            <a href="{% url 'cadastro' %}">
                <div class="menu-item">
                    <p>Cadastrar Novo Usuário </p>
                </div>
            </a>
            <a href="{% url 'usuario' %}">
                <div class="menu-item">
                    <p>Lista de Agentes de Saúde</p>
                </div>
            </a>
            <a href="{% url 'consolidados' %}">
                <div class="menu-item">
                    <p>Geração de Consolidados</p>
                </div>
            </a>
            <a href="{% url 'logout' %}">
                <div class="menu-item">
                    <p>Sair</p>
                </div>
            </a>
        </div>
            
        <div class="main">
            {% block content %}
                   
            {% endblock content %}
        </div>
    </div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>