{% extends "login/base.html" %}

{% load widget_tweaks %}
	
{% block content %}

<div class="container">

	<h1>Cadastro</h1>

	<form class="form-horizontal" method="POST">
		{% csrf_token %}

		{% for field in form %}
			{% if field.errors %}
				<div class="alert alert-danger">
					{{ field.errors }}
				</div>
			{% endif %}
        	<div class="form-group">
        	    <label for="{{ field.auto_id }}" class="control-label">{{ field.label }}</label>
        	    {% render_field field class="form-control"%}
        	</div> 
        {% endfor %}

		<button class="btn btn-primary">Efetuar Cadastro</button>
	</form>

	<a href="{% url 'usuario' %}">
        <button class="btn btn-danger">Cancelar</button>
    </a>

</div>

{% endblock content %}
		