{% extends "login/base.html" %}

{% load pagination %}

{% block content %}

<div class="container">
	
	<h1>{{ formulario }}</h1>

	<table class="table table-striped table-bordered">

		<thead>
			<tr>
				<td>Endereço</td>
				<td>Data da Visita</td>
				<td>Tipo do Imóvel</td>
				<td>Distrito Sanitário</td>
				<td>Estrato</td>
				<td>Depósitos Eliminados</td>
			</tr>
		</thead>

		{% for formulario in formulario_list %}
			<tr>
				<td>{{formulario.localImovel}}</td>
				<td>{{formulario.dataVisita}}</td>
				<td>{{formulario.tipoImovel}}</td>
				<td>{{formulario.distritoSanitario}}</td>
				<td>{{formulario.estrato}}</td>
				<td>{{formulario.depositosEliminados}}</td>
			</tr>
		{% empty %}
			<h4>O Agente requisitado não possui nenhum formulário disponível.</h4>
		{% endfor %}

	</table>

	{% pagination request paginator page_obj%}

</div>

{% endblock content %}