{% extends "login/base.html" %}

{% load static %}
{% load pagination %}


{% block content %}

	<div class="container">
		<h1>Lista dos Agentes de Saúde</h1>

		<table class="table table-striped table-bordered">

			<thead>
				<tr>
					<td>Agentes de Saúde</td>
					<td colspan="4">Opções</td>
				</tr>
			</thead>

			{% for usuario in user_list %}
			<tr>
				<td>{{usuario.nome}}</td>
				<td><a href="{% url 'editar_usuario' usuario.id %}">Editar Usuário</a></td>
				<td><a href="{% url 'liraa_lista' usuario.id %}">Formulários LiraA</a></td>
				<td><a href="{% url 'psa_lista' usuario.id %}">Formulários PSA</a></td>
				<td><a href="{% url 'propor_metas' usuario.id %}">Propor Metas</a></td>
			</tr>
			{% endfor %}

		</table>

		{% pagination request paginator page_obj%}

	</div>

{% endblock content %}

