{% extends "login/base.html" %}

{% load widget_tweaks %}

{% block content %}

    <div class="container">
        <h1>Propor Metas para {{ agente.nome }}</h1>

        <form class="form-vertical" method="POST" action="">
				{% csrf_token %}

				{% for field in metasForm %}
					{% if field.errors %}
						{{ field.errors }}
					{% endif %}
        			<div class="form-group">
        	    		<label for="{{ field.auto_id }}" class="control-label">{{ field.label }}</label>
        	    		{% render_field field class="form-control" %}
        			</div> 
        		{% endfor %}

				<button class="btn btn-primary" type="submit">Entrar</button>
		</form>    

        <a href="{% url 'usuario' %}" class="btn btn-danger">Cancelar</a>        
    </div>  
    
{% endblock content %}