<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Geo-Saúde</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="normalize.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="base.css"/>
</head>
<body>
    <div class="header">
        <div class="adm-perfil">
                <img class="adm-avatar" src="adm_avatar.png">
                <ul>
                    <li><p class="adm-name">José Luis</p></li>
                    <li><p class="adm-job">Administrador</p></li>
                </ul>            
        </div>
        <div class="logo-place">
            <img class="logo-image" src="logo_horizon.png">
        </div>
    </div>

    <div class="content">
            
        <div class="side-bar">
            <div class="menu-bar">
                <p>Opções do Menu</p>
            </div>
            <a href="{% url 'cadastro' %}"><div class="menu-item">
                <p>Cadastrar Novo Usuário </p>
            </div></a>
            <a href="{% url 'usuario' %}"><div class="menu-item">
                <p>Lista de Agentes de Saúde</p>
            </div></a>
            <a href="{% url 'consolidados' %}"><div class="menu-item">
                <p>Geração de Consolidados</p>
            </div></a>
            <a href="{% url 'logout' %}"><div class="menu-item">
                <p>Sair</p>
            </div></a>
        </div>

        <div class="page-content">
            <h1>Wild Thoughts</h1>
            <div class="main">
                {% block content %}

                {% endblock content %}
            </div>
        </div>

    </div>


</body>
</html>