{% extends "login/base.html" %}

{% block content %}

<div class="column">
    <div class="center">
        <h1>Consolidados</h1>
    </div>
    <form action="" method="POST">
        {% csrf_token %}
        <label for="dataInicial">Data Inicial</label>
        <input type="date" name="dataInicial">
        <label for="dataFinal">Data Final</label>
        <input type="date" name="dataFinal">
        <input type="submit" value="Gerar Consolidados">
    </form>
</div>

{% endblock content %}

