html, body {
    padding: 0;
    margin: 0;
    background-color: #0000e0;
    min-height: 100vh;
}

.content {
    padding-top: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    color: white;
    margin: 5px;
}

h2 {
    color: white;
}

.logo-image {
    width: 120vh;
    min-width: 500px;
}

.login-form {
    display: flex;
    flex-direction: column;
    background-color: #57a0d3;
    border: black 2px solid;
    padding: 12px;
    min-width: 30vw;
}

.login-form label {
    color: white;
    font-size: 1.4em;
    padding: 5px;
}

.form-inputs button {
    margin-top: 15px;
    padding: 5px 15px;
}

.form-row {
    display: flex;
    justify-content: center;
}

.form-row > input {
    flex: 3;
    margin: 10px;
}

.form-row > label {
    flex: 2;
}

.error-msg {
    font-size: 1.2em;
    text-align: center;
}