{% extends "login/base.html" %}


{% block content %}
	<h1>Lista dos Agentes de Saúde</h1>
	
	<table>
		<thead>
			<tr>
				<td>Agentes de Saúde</td>
				<td colspan="2">Opções</td>
			</tr>
		</thead>
		
		{% for usuario in userlist %}
		<tr>
			<td>{{usuario.nome}}</td>
			<td>
				<a href="{% url 'edituser' usuario.id %}">Editar</a>
			</td>
		</tr>
		{% endfor %}
	</table>

{% endblock content %}

