<!DOCTYPE html>
<html>
{% load static %}
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Geo-Saúde</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" media="screen" href="{% static 'normalize.css' %}" />
	<link rel="stylesheet" type="text/css" media="screen" href="{% static 'loginPage.css' %}" />
</head>

<body>

	<div class="content">
		<img class="logo-image" src="{% static 'logo_horizon.png' %}"> 

		<div class="login-form">
			<h2>Tela de Acesso</h2>

			{% if loginForm.errors %}
			<div class='error-msg'>
				<p>Seu usuário e senha não combinam.</p>
				<p>Por favor, tente novamente.</p>
			</div>
			{% endif %}

			<form method="POST" action="">
				<ol class="form-inputs">

				{% csrf_token %}
				<li class="form-row">
					<label>Usuário: </label>
					{{ loginForm.username }}
				</li>
				<li class="form-row">
					<label>Senha:</label>
					{{ loginForm.password }}
				</li>
		
				</ol>
				<button type="submit">Entrar</button>
			</form>
		</div>

	</div>

</body>

</html>