<ion-tabs>
  <ion-tab [root]="tab1Root" [rootParams]="loginData" tabTitle="Perfil" tabIcon="md-contact" ></ion-tab>
  <ion-tab [root]="tab2Root" [rootParams]="loginData" tabTitle="Conquistas" tabIcon="md-trophy"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Atividades" tabIcon="ios-list-box-outline"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Mapa" tabIcon="ios-map"></ion-tab>
</ion-tabs>
