<ion-header>

</ion-header>


<ion-content padding>


  <ion-label>
    <h1 align="center">CÚLEX</h1>
    <h2 align="center">Tipos de Criadouros</h2>
  </ion-label>
  

  <!-- Lista com os tipos de criadouros -->

  <ion-list>
  
  
    <ion-item>
      <ion-label>Fossa</ion-label>
      <ion-checkbox checked="false" [(ngModel)]="breendingGroundCulex.fosse"></ion-checkbox>
    </ion-item>


    <ion-item>
      <ion-label>Cisterna</ion-label>
      <ion-checkbox checked="false" [(ngModel)]="breendingGroundCulex.cistern"></ion-checkbox>
    </ion-item>


    <ion-item>
      <ion-label>Canal/Canaletas/Valas</ion-label>
      <ion-checkbox checked="false" [(ngModel)]="breendingGroundCulex.channelDichGutters"></ion-checkbox>
    </ion-item>


    <ion-item>
      <ion-label>Charco</ion-label>
      <ion-checkbox checked="false" [(ngModel)]="breendingGroundCulex.puddle"></ion-checkbox>
    </ion-item>


    <ion-item>
      <ion-label>Caixa de Inspeção/Drenagem</ion-label>
      <ion-checkbox checked="false" [(ngModel)]="breendingGroundCulex.inspectionBoxDrainage"></ion-checkbox>
    </ion-item>


  </ion-list>


  <!-- Botões de voltar e avançar -->

  <div text-center>

    <button ion-button icon-left (click)="GoBack()">
      <ion-icon name="md-arrow-back"></ion-icon>
      Voltar
    </button>

    <button ion-button icon-right (click)="GotoNextPage()">
      Próximo
      <ion-icon name="md-arrow-forward"></ion-icon>
    </button>

  </div>


</ion-content>

