page-activities {

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: auto;
        margin-top: 5%;
        margin-bottom: 5%;
        width: 20%;
    }

    .text-custom {
        opacity: 0.8;
        color: black;
        text-align: center;
        font-family: "sans-serif";
        font-size: 1.9em !important;
        margin-bottom: -6px !important;
        font-weight: bolder;
        padding-top: 1%;
        padding-bottom: 3%;
    }

    ion-card-content {
        text-align: justify;
        font-weight: bolder;
    }

    ion-row {
        padding-top: 10%
    }
}
