<ion-header>

  <ion-navbar color="primary">

    <!-- Botão para o side menu -->
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Atividades</ion-title>

  </ion-navbar>

</ion-header>


<ion-content>

    <h3 class="text-custom">Hora de Iniciar as Atividades</h3>

    <img src="../../assets/imgs/navigator.png" class="center">

    <ion-card>
        <ion-card-content>
          Nessa seção você deve escolher uma das atividades disponíveis. A opção para envio dos dados estará habilitada logo após a finalização de uma visita
          e quando ouver conexão com a internet.
        </ion-card-content>
      </ion-card>
  

  <ion-row>
    <ion-col width-50 style="text-align: right">
      <button ion-button color="primary" round (click)="startVisit()">
        Iniciar Visita   
      </button>
    </ion-col>
    <ion-col width-50 style="text-align: left">
      <button ion-button color="primary" round [disabled]="newFormsToSend == false" (click)="sendDataToServer()">
        Enviar Dados
      </button>
    </ion-col>
  </ion-row>


</ion-content>