<!--
  Generated template for the ImovelPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  
</ion-header>

<ion-content padding>

  <ion-label>
    <h1 align="center">IMÓVEL</h1>
    <b></b>
    <h5 align="center">Informações Sobre o Imóvel</h5>
  </ion-label>

  <ion-card>


    <!-- Endereço do imóvel -->

    <ion-card-header>
      <ion-input type="text" value="Nº 2059 Apartamento 101"></ion-input>
    </ion-card-header>


    <!-- Select com o tipo do imovel-->

    <ion-list>
      <ion-item *ngIf="formType=='PSA'">
        <ion-label>Tipo de Imóvel</ion-label>
        <ion-select [(ngModel)]="immobileInformation.tpImmobile">
          <ion-option value="residence">Residência</ion-option>
          <ion-option value="commerce">Comércio</ion-option>
          <ion-option value="industry">Indústria</ion-option>
          <ion-option value="private service">Serviço Privado</ion-option>
          <ion-option value="residence with commerce">Residência com Comércio</ion-option>
          <ion-option value="immobile under construction">Imóvel em Construção</ion-option>
          <ion-option value="wasteland">Terreno Baldio</ion-option>
          <ion-option value="strategic point">Ponto Estratégico</ion-option>
          <ion-option value="others">Outros</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>


    <!--Select com o tipo da situação-->

    <ion-list>
      <ion-item *ngIf="formType=='PSA'">
        <ion-label>Situação</ion-label>
        <ion-select [(ngModel)]="immobileInformation.situationImmobile">
          <ion-option value="inspected">Inspecionado</ion-option>
          <ion-option value="not inspected">Não Inspecionado</ion-option>
          <ion-option value="recovered">Recuperado</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>


    
    <!-- Select com o tipo do imovel-->

    <ion-list>
        <ion-item *ngIf="formType=='LIRAa'">
          <ion-label>Tipo de Imóvel</ion-label>
          <ion-select [(ngModel)]="immobileInformation.tpImmobile">
            <ion-option value="residence">Residência</ion-option>
            <ion-option value="commerce">Comércio</ion-option>
            <ion-option value="others">Outros</ion-option>
            <ion-option value="wasteland">Terreno baldio</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>


    <!--Data da visita -->

    <ion-item>
      <ion-label>Data</ion-label>
      <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="date"></ion-datetime>
    </ion-item>

  </ion-card>


  <!-- Botões de voltar e finalizar a visita -->

  <div text-center>

    <button ion-button icon-center (click)="GotoFinalizeVisit()">
      Concluir &nbsp;
      <!-- &nbsp é para dar espaço -->
      <ion-icon name="exit"></ion-icon>
    </button>

  </div>

</ion-content>