page-achievements {
    page-home {
        
        .scroll-content {
            background-color: map-get($colors, light);
        }
 
        ion-card-header {
            font-weight: bold;
        }
 
    }

    ion-title {
        text-align: center;
        color: #f2f2f2;
    }

}
