page-start-visit {

    ion-title {
        text-align: center;
        color: #f2f2f2;
    }

    .sanitaryDistrictStyle {
        font-weight: bold;
        font-size: 25px;
        margin-top: 2%;
        margin-bottom: 5%;
        text-align: center;
        margin-bottom: 10%;
    }

    .strataStyle {
        font-size: 20px;
        font-weight: bolder;
        opacity: 0.8;
        margin-bottom: 10%;
        text-align: center;
    }

    .button-custom {
        width: 100%;
    }

}
