<!--
  Generated template for the SelectFormPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>Seleção do Formulário</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-label class="address_name">
    Endereço
  </ion-label>
  <ion-card class="card_settings">
    <ion-input type="text" value="Nº 2059 Apartamento 101" [(ngModel)]="address"></ion-input>
  </ion-card>

  <!-- Formulários -->
  <br>
  <br>
  <ion-label class="forms_names">
    Formulários Disponíveis
  </ion-label>

  <div class="buttons">
    <button ion-button (click)="GotoStartFormsPage('PSA')" color="primary" block class="button_psa">
      Formulário 1 - Índice PSA
    </button>

    <button ion-button (click)="GotoStartFormsPage('LIRAa')" color="primary" block class="button_liraa">
      Formulário 2 - LIRAa
    </button>
  </div>

</ion-content>