<!--
  Tela referente as informações de lixo do boletim de visita diária PSA.
  Criado: 20/03/2018
  Aplicativo: Geo-Saúde
-->

<ion-header>

</ion-header>


<ion-content padding>

  <ion-label>
    <h1 align="center">LIXO</h1>
    <h5 align="center">Informações Sobre o Lixo Encontrado</h5>
  </ion-label>

  <ion-card>

    <ion-item>
      <ion-label>Tipo</ion-label>
      <ion-select [(ngModel)]="trashInformation.tpTrash">
        <ion-option value="domicile">Domiciliar</ion-option>
        <ion-option value="special">Especial</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Acondicionamento</ion-label>
      <ion-select [(ngModel)]="trashInformation.packaging">
        <ion-option value="appropriate">Adequado</ion-option>
        <ion-option value="inappropriate">Inadequado</ion-option>
        <ion-option value="not applicable">Não se aplica</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Se domiciliar, qual destino?</ion-label>
      <ion-select [(ngModel)]="trashInformation.domicileTrashDestiny">
        <ion-option value="directly collect">Coletado diretamente</ion-option>
        <ion-option value="indirectly collect">Coletado indiretamente</ion-option>
        <ion-option value="burned and buried">Queimado e enterrado</ion-option>
        <ion-option value="throw on barrier">Jogado em barreira</ion-option>
        <ion-option value="throw on wasteland">Jogado em terreno baldio</ion-option>
        <ion-option value="throw on the river, lake, sea or mangrove">Jogado no rio, lago, mar ou mangue</ion-option>
        <ion-option value="throw in the gallery, duct or channel">Jogado na galeria, canal ou canaleta</ion-option>
        <ion-option value="other">Outro</ion-option>
        <ion-option value="selective collect">Coleta seletiva</ion-option>
        <ion-option value="not applicable">Não se aplica</ion-option>
      </ion-select>
    </ion-item>

  </ion-card>


  <!-- Botões de voltar e finalizar a visita -->

  <div text-center>

    <button ion-button icon-center (click)="GotoFinalizeVisit()">
      Concluir &nbsp;
      <!-- &nbsp é para dar espaço -->
      <ion-icon name="exit"></ion-icon>
    </button>

  </div>

</ion-content>