<ion-header>

  <ion-navbar color="primary">

    <!-- Botão para o side menu -->
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>
      Mapa
    </ion-title>

  </ion-navbar>
</ion-header>



<ion-content>
  <div #map id="map"></div>
</ion-content>