<!-- Definindo o menu -->

<ion-menu [content]="content">

    <!-- Título do menu -->

    <ion-header>
        <ion-toolbar class="toolbar-setting">
            <h2 ion-text class="title-menu">
                Geo-Saúde
            </h2>
        </ion-toolbar>
    </ion-header>

    <!-- Lista que aparecerá quando o menu for aberto -->

    <ion-content>
        <ion-list>
            <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
                {{p.title}}
            </button>
        </ion-list>
    </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content></ion-nav>