<!--
  HTML DA TELA DE AEDES
-->

<ion-header>


</ion-header>


<ion-content padding>

  <ion-label>

    <h1 align="center">AEDES</h1>
    <b></b>
    <h2 align="center">Tipos de Criadouros</h2>

  </ion-label>


  <!-- Lista com as opções de Criadouros -->

  <ion-list>


    <ion-item>
      <ion-label>A1 : </ion-label>
      <ion-input type="number" [(ngModel)]="breendingGroundAedes.A1"></ion-input>
      <button clear item-end ion-button tooltip="A1 - Caixa d'água ligada à rede" positionV="bottom" arrow>
        <ion-icon name="help-circle"></ion-icon>
      </button>
    </ion-item>


    <ion-item>
      <ion-label>A2 : </ion-label>
      <ion-input type="number" style="max-width: 90%" [(ngModel)]="breendingGroundAedes.A2"></ion-input>
      <button clear item-end ion-button tooltip="A2 - Depósitos ao nível do solo, consumo doméstico (barril, tina, tonel, tambor, 
                                                depósito de barro, tanque, poço, cisterna e cacimba)" positionV="bottom"
        arrow>
        <ion-icon name="help-circle"></ion-icon>
      </button>
    </ion-item>


    <ion-item>
      <ion-label>B  : </ion-label>
      <ion-input type="number" style="max-width: 90%" [(ngModel)]="breendingGroundAedes.B"></ion-input>
      <button clear item-end ion-button tooltip="B - Vasos/frascos com água, pratos, pingadeiras, recipientes de gelo, bebedouros em geral,
                                                 pequenas fontes ornamentais, material depositado de construção, objetos religiosos/rituais"
        positionV="bottom" arrow>
        <ion-icon name="help-circle"></ion-icon>
      </button>
    </ion-item>


    <ion-item>
      <ion-label>C  : </ion-label>
      <ion-input type="number" style="max-width: 90%" [(ngModel)]="breendingGroundAedes.C"></ion-input>
      <button clear item-end ion-button tooltip="C - Tanques em obras, borracharias e hortais, calhas, lajes e toldos em desníveis, ralos sanitários em desuso,
                                                 obras arquitetônicas, piscinas não tratadas, fontes ornamentais, floreiras/vasos em cemitérios,
                                                 cacos de vidro em muros, caixas de inspeção e passagem" positionV="bottom"
        arrow>
        <ion-icon name="help-circle"></ion-icon>
      </button>
    </ion-item>


    <ion-item>
      <ion-label>D1 : </ion-label>
      <ion-input type="number" style="max-width: 90%" [(ngModel)]="breendingGroundAedes.D1"></ion-input>
      <button clear item-end ion-button tooltip="D1 - Pneus e outros materiais rodantes (manchões/câmaras)" positionV="bottom"
        arrow>
        <ion-icon name="help-circle"></ion-icon>
      </button>
    </ion-item>


    <ion-item>
      <ion-label>D2 : </ion-label>
      <ion-input type="number" style="max-width: 90%" [(ngModel)]="breendingGroundAedes.D2"></ion-input>
      <button clear item-end ion-button tooltip="D2 - Lixo (recipientes plásticos, garrafas, latas), sucatas em pátios de ferro velho e recicladores, entulhos"
        positionV="bottom" arrow>
        <ion-icon name="help-circle"></ion-icon>
      </button>
    </ion-item>


    <ion-item>
      <ion-label>E  : </ion-label>
      <ion-input type="number" style="max-width: 90%" [(ngModel)]="breendingGroundAedes.E"></ion-input>
      <button clear item-end ion-button tooltip="E - Axilas de folhas (bromélias, etc.), buracos em árvores e em rochas, cascas de animais (cascos e carapaças)"
        positionV="bottom" arrow>
        <ion-icon name="help-circle"></ion-icon>
      </button>
    </ion-item>


  </ion-list>


  <!-- Botões de Navegação -->

  <div text-center>

    <button ion-button icon-left (click)="GoBacktoPageImovel()" *ngIf="formType=='PSA'">
      <ion-icon name="md-arrow-back"></ion-icon>
      Voltar
    </button>

    <button ion-button icon-center (click)="GotoNextPage()" *ngIf="formType=='PSA'">
      Próximo &nbsp;
      <!-- &nbsp é para dar espaço -->
      <ion-icon name="md-arrow-forward"></ion-icon>
    </button>

    <!--Finalizando -->
    <button ion-button icon-right (click)="Finish()" *ngIf="formType=='LIRAa'">
      Finalizar
      <ion-icon name="exit"></ion-icon>
    </button>

  </div>


</ion-content>