<!-- Início do Header -->

<ion-header>

  <ion-navbar color="primary">

    <!-- Botão para o side menu -->
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <!-- Título da tela. -->
    <ion-title class="title_page">Perfil</ion-title>

  </ion-navbar>

</ion-header>

<!-- Final do Header -->


<!-- Início do Ion Content -->

<ion-content>

  <form>

    <div class="upperDiv">
      
      <!-- Exibindo a imagem do usuário. -->
     <!-- <div align="center"> -->

      <input type="file" #fileInput style="visibility: hidden; height: 40px" name="files[]" (change)="processWebImage($event)"/>


      <div class="profile-image-wrapper" (click)="getPicture()">
        <div class="profile-image-placeholder" *ngIf="!this.form.controls.image.value">
          <ion-icon name="ios-camera-outline" class="ios-camera-outline" md="ios-camera-outline" style="color: white !important; opacity: 0.6">
          </ion-icon>
        </div>

        <div class="profile-image" [style.backgroundImage]="getProfileImageStyle()" *ngIf="this.form.controls.image.value">
        </div>

        <!--
        <ion-avatar class="avatar" item-start>
          <img [style.border]="'5px solid'" src="./assets/imgs/img_agente_1.jpg">
        </ion-avatar>-->
        

      </div>

      <!-- Exibindo as informações sobre o usuário. -->


      <h3 class="agent_name">{{usuario.nome}}</h3>

      <h3 class="agent_profession">{{usuario.profissao}}</h3>

      <h3 class="agent_locality">{{usuario.posto}}</h3>


    </div>

    <!-- Exibindo as medalhas do usuário. -->
    <ion-item>

      <table>

        <tr align="center">
          <td>
            <img src="./assets/imgs/medalhas/medal-1.png" width="50%">
          </td>
          <td>
            <img src="./assets//imgs/medalhas/medal-2.png" width="50%">
          </td>
          <td>
            <img src="./assets/imgs/medalhas/medal-3.png" width="50%">
          </td>
          <td>
            <img src="./assets/imgs/medalhas/medal-4.png" width="50%">
          </td>
        </tr>

      </table>

    </ion-item>

  </form>

</ion-content>

<!-- Final do Ion Content -->